
<div class="container spacer">
    <button routerLink="/about" class="btn btn-primary">A propos</button>
    <button routerLink="/contacts" class="btn btn-info the-left-margin">Contacts</button>
    <button routerLink="/new-contact" class="btn btn-info the-left-margin">Nouveau Contact</button>
</div>

<router-outlet>

</router-outlet>