
<div class="offset-md-1 spacer col-md-8">

<div class="card ">
  <div class="card-header bg-grey"> A propos</div>

  <div class="card-body">
    <p>Name : <strong>{{infos.name}}</strong> </p>
    <p>Email : <strong>{{infos.email}}</strong> </p>
    <p>Description : <strong>{{infos.description}}</strong> </p>
    <p>Date : <strong>{{infos.date}}</strong> </p>
  </div>
</div>

</div>