<div class="container spacer">

  <div class="card">
    <div class="card-header bg-grey"> Liste des contacts</div>

    <div class="card-body">

      <div class="input-group mb-3">
        <label class="control-label color-text-1">Nombre de contacts trouvés : </label> &nbsp;
        <label class="color-text-1">{{totalContacts}}</label>
      </div>

      <div class="form-group">
        <label>Mot clé : </label>
        <div class="input-group mb-3">
          <input class="form-control mr-sm-2" placeholder="Search for a name..." [(ngModel)]="keyWord">
          <button class="btn btn-outline-success my-2 my-sm-0" (click)="findContact()" >Search</button>

        </div>
      </div>

      <div class="table-responsive-sm">
        <table class="table table-hover">
          <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nom</th>
            <th scope="col">Prenom</th>
            <th scope="col">Email</th>
            <th scope="col">Telephone</th>
            <th scope="col" class="color-text-1">Update</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let c of datas">
            <td>{{c.id}}</td>
            <td>{{c.firstname}}</td>
            <td>{{c.lastname}}</td>
            <td>{{c.email}}</td>
            <td>{{c.tel}}</td>
            <td> <button (click)="updateContact(c.id)" class="btn btn-info ">Edit</button></td>
          </tr>
          </tbody>
        </table>
      </div>

      <ul class="pagination">

        <ul class="nav nav-pills">
            <li class="page-item" [ngClass]="{'active':i==currentPage}" *ngFor="let p of pagesArray; let i=index">
              <a class="page-link clickable" (click)="gotoPage(i)">{{i}}</a>
            </li>
        </ul>

      </ul>

    </div>
  </div>

</div>