/* You can add global styles to this file, and also import other style files */
.spacer{
    margin-top: 2%;
}

.bg-grey{
    background-color: lightgrey;
}

.the-left-margin{
    margin-left: 2%;
}

.color-text-1{
    font-family: Raleway;
    font-size: larger;
    font-size: 1.2em;
    color: #2b81af;
}

.clickable{
    cursor: pointer;
}