<div class="container spacer">

  <div class="card" *ngIf="mode == 1">
    <div class="card-header bg-grey"> Enregistrer un nouveau contact </div>

    <div class="card-body">

      <div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Nom</span>
        </div>
        <input type="text" class="form-control"  [(ngModel)]="contact.firstname">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Prenom</span>
        </div>
        <input type="text" class="form-control"  [(ngModel)]="contact.lastname">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Email</span>
        </div>
        <input type="text" class="form-control"  [(ngModel)]="contact.email">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Date de naissance</span>
        </div>
        <input type="date" class="form-control" [(ngModel)]="contact.dateNaissance">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Telephone</span>
        </div>
        <input type="text" class="form-control"  [(ngModel)]="contact.tel">
      </div>

      <button class="btn btn-info" (click)="mode=2">Save</button>
      </div>



    </div>
  </div>

  <div class="card" *ngIf="mode == 2">
    <div class="card-header bg-grey"> Confirmer l'enregistrement ? </div>

    <div class="card-body">

      <div>

        <div class="input-group mb-3">
          <label class="control-label">Id : </label>
          <label>{{contact.id}}</label>
        </div>

        <div class="input-group mb-3">
          <label class="control-label">Nom : </label>
          <label>{{contact.firstname}}</label>
        </div>

        <div class="input-group mb-3">
          <label class="control-label">Prenom : </label>
          <label>{{contact.lastname}}</label>
        </div>

        <div class="input-group mb-3">
          <label class="control-label">Email : </label>
          <label>{{contact.email}}</label>
        </div>

        <div class="input-group mb-3">
          <label class="control-label">Date de naissance : </label>
          <label>{{contact.dateNaissance}}</label>
        </div>

        <div class="input-group mb-3">
          <label class="control-label">Telephone : </label>
          <label>{{contact.tel}}</label>
        </div>

        <button class="btn btn-info" (click)="saveContact()">Save</button>
        <button class="btn btn-secondary the-left-margin" (click)="mode=1">Update</button>
      </div>

    </div>
  </div>

</div>