
<div class="container spacer">

  <div class="card">
    <div class="card-header bg-grey"> Saisie d'un nouveau contact </div>
    <div class="card-body">
    <div class="container spacer">

      <!-- Create id #f and (ngSubmit) to retrieve values of this form -->
        <form #f="ngForm" (ngSubmit)="onSaveContact(f.value)">

          <!-- Validators -->
          <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
            Veuillez renseigner une adresse mail valide
          </div>
          <!-- End validators -->

          <div class="form-group">
            <label class="control-label">Nom : </label>
            <input class="form-control" type="text" ngModel name="firstname" required>
          </div>

          <div class="form-group">
            <label class="control-label">Prénom : </label>
            <input class="form-control" type="text" ngModel name="lastname" required>
          </div>

          <div class="form-group">
            <label class="control-label">Email : </label>
            <input class="form-control" type="email" ngModel name="email" #email="ngModel" required email>
          </div>

          <div class="form-group">
            <label class="control-label">Date de naissance : </label>
            <input class="form-control" type="date" ngModel name="dateNaissance" required>
          </div>

          <div class="form-group">
            <label class="control-label">Tel : </label>
            <input class="form-control" type="text" ngModel name="tel" required>
          </div>

          <button [disabled]="!f.valid" type="submit" class="btn btn-primary" >Save</button>
        </form>
</div>

    </div>
  </div>

</div>